<div class="eighty-main">   
    <h1 class="eighty-h1">My 88x31 Badges</h1> 
    <p class="eighty-p"> The 90s internet is something wish i'd been around for. Here's my tribute to the legacy of 88x31 badges. <p>
    <p class="eighty-p">These are badges I found at <a href="http://88x31.nl/" class="eighty-link">88x31nl</a> and <a href="https://88x31db.com/" class="eighty-link">88x13db</a></p>
    <div class="badge-grid">
            <%= image_tag("74.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("88x31122.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("anythingbut.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("coffee.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("dbfire88.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("digitalme.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("discord-no-way.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("f-ckingwww.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("fckfb.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("fckgoogle.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("fediverse.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("firefox4.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("gaypride.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("internetprivacy.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("legalize-now.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("lilrib.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("linuxnow2.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("media.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("openeyes.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("peace.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("publicdomain.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("tor.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("transnow2.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("ublock-now.png", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
            <%= image_tag("xkcd.gif", alt: "88x31 badge", loading: "eager", width: "88", height: "31", decoding: "async",) %>
    </div>
    <p class="eighty-p"><strong>My 88x31 Badge</strong></p>
    <p class="eighty-p">I will put one here when I get round to making it</p>
</div>    