<div class="paper-container">
  <div class="paper-overlay paper-overlay-pos"></div>
  <div class="paper-overlay paper-overlay-neg"></div>
  <article class="posts-article">
    <h1 class="posts-header"><%= @article[:title] %></h1>
    <p class="posts-description"><%= @article[:description] %></p>
    <%= sanitize(
      @article[:content_html],
      tags: %w[h1 h2 h3 p strong em a ul ol li blockquote code img],
      attributes: %w[href src alt class],
    ) %>
    <p class="posts-text">George Baskerville,
      <%= @article[:published_at].day.ordinalize %>
      of
      <%= @article[:published_at].strftime("%B %Y") %></p>
    <p class="posts-published-date">P.S. All of my articles licensed under CC0 1.0 Universal. Download them
      on the
      <a
        href="https://github.com/georgebaskervil/Personal-Website/tree/main/data/images"
        class="dl-link"
        target="_blank"
        rel="noopener"
      >GitHub repo</a></p>
  </article>
</div>
