<h1 class="images-title">Latest Pictures:</h1>
<p class="dl-link-box">
  Images licensed under CC0 1.0 Universal. Download them on the
  <a
    href="https://github.com/georgebaskervil/Personal-Website/tree/main/data/images"
    class="dl-link"
    target="_blank"
  >GitHub repo</a>
</p>

<article class="images-container">
  <section class="images-grid">
    <% @images.each_with_index do |img, index| %>
      <div class="image-container">
        <% ext = File.extname(img) %>
        <% base_name = File.basename(img, ext) %>
        <a
          href="<%= vite_asset_path("losslessphotos/#{base_name.sub(/^resized_/, '') + ext}") %>"
          target="_blank"
          rel="noopener"
        >
          <picture>
            <source
              srcset="<%= vite_asset_path("photos/AVIFs/#{base_name}.avif") %>"
              type="image/avif"
            >
            <source
              srcset="<%= vite_asset_path("photos/WebPs/#{base_name}.webp") %>"
              type="image/webp"
            >
            <source
              srcset="<%= vite_asset_path("photos/JXLs/#{base_name}.jxl") %>"
              type="image/jxl"
            >
            <%= image_tag(
              vite_asset_path("photos/#{img}"),
              loading: "lazy",
              decoding: "async",
              fetchpriority: "low",
            ) %>
          </picture>
        </a>
      </div>
    <% end %>
  </section>
</article>
