<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <!--Preconnects, DNS prefetches and application code-->
    <link rel="dns-prefetch" href="geor.me">
    <link rel="preconnect" href="geor.me">
    <link rel="dns-prefetch" href="umami.geor.me">
    <link rel="preconnect" href="umami.geor.me">
    <%= yield :specifcstylesheets %>
    <%= vite_stylesheet_tag "~/stylesheets/application.scss" %>
    <link
      rel="preload"
      href="<%= vite_asset_path("~/fonts/SpaceMono-Regular-subset.woff2") %>"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    >
    <%= vite_javascript_tag "~/javascript/application.js" %>
    <%= vite_legacy_javascript_tag "~/javascript/application.js" %>
    <% if Rails.env.production? %>
      <script
        async
        defer
        src="/umami/script.js"
        data-website-id="aedd1629-915b-4671-b815-1edb044b6d2a"
        data-host-url="https://umami.geor.me"
      ></script>
    <% end %>
    <!--SEO config Options. Will allow these to be configured from elsewhere at
    some point-->
    <% name = "George Baskerville's Personal Website"
    page_name = "George Baskerville's Personal Website"
    description =
      "I'm George, a mad (computer) scientist. Here's my website."
    keywords = "George Baskerville, George, Baskerville, geor.me"
    preview_image = vite_asset_path("~/images/site-screenshot.png")
    preview_image_url = preview_image
    preview_image_type = "image/png"
    preview_image_width = "1435"
    preview_image_height = "780"
    preview_image_alt =
      "A preview of the Homepage of George Baskerville's Personal Website"
    theme_color = "#161820"
    url = "https://geor.me"
    domain = "geor.me"
    homepage = "https://geor.me/"
    shortcut_icon = vite_asset_path("~/images/favicon.jpg")
    apple_touch_icon = shortcut_icon
    locale = "en_GB"
    twitter_site = "@georgebaskervil"
    twitter_creator = "@georgebaskervil"
    windows7_tooltip = "Open George Baskerville's Personal Website"
    windows7_starturl = "/"
    social_links = [
      { name: "X", url: "https://x.com/georgebaskervil" },
      {
        name: "Signal",
        url:
          "https://signal.me/#eu/Ui1-KTmlgnCbNj491iq3HSOJtrkY1aVHm4n0v97dvkGDbCqWsExOu66Fzg7-7iC9",
      },
      { name: "GitHub", url: "https://github.com/georgebaskervil" },
    ] %>
    <!--Basic HTML metadata-->
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover"
    >
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="image" content="<%= preview_image %>">
    <meta name="theme-color" content="<%= theme_color %>">
    <meta name="robots" content="all">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title><%= name %></title>
    <link rel="canonical" href="<%= url %>">
    <link rel="home" href="<%= homepage %>">
    <link rel="shortcut icon" href="<%= shortcut_icon %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= apple_touch_icon %>" type="image/x-icon">
    <!--Schema.org metadata-->
    <script type="application/ld+json">
    <%= raw({
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": name,
      "url": url,
      "description": description,
      "image": preview_image_url,
      "inLanguage": locale,
      "author": {
        "@type": "Person",
        "name": "George Baskerville",
        "url": url,
        "sameAs": social_links.map { |link| link[:url] }
      },
      "publisher": {
        "@type": "Person",
        "name": "George Baskerville",
        "url": url
      }
    }.to_json) %>
    </script>
    <!--Open Graph metadata-->
    <meta property="og:site_name" content="<%= name %>">
    <meta property="og:title" content="<%= page_name %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= url %>">
    <meta property="og:image" content="<%= preview_image %>">
    <meta property="og:image:url" content="<%= preview_image %>">
    <meta property="og:image:secure_url" content="<%= preview_image %>">
    <meta property="og:image:type" content="<%= preview_image_type %>">
    <meta property="og:image:width" content="<%= preview_image_width %>">
    <meta property="og:image:height" content="<%= preview_image_height %>">
    <meta property="og:image:alt" content="<%= preview_image_alt %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:locale" content="<%= locale %>">
    <!--ð• metadata-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="<%= domain %>">
    <meta name="twitter:site" content="<%= twitter_site %>">
    <meta name="twitter:creator" content="<%= twitter_creator %>">
    <meta name="twitter:title" content="<%= name %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="<%= preview_image %>">
    <meta name="twitter:image:alt" content="<%= preview_image_alt %>">
    <meta name="twitter:url" content="<%= url %>">
    <!--Old windows pin-to-taskbar metadata-->
    <meta name="msapplication-tooltip" content="<%= windows7_tooltip %>">
    <meta name="msapplication-starturl" content="<%= windows7_starturl %>">
    <meta name="mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-title" content="<%= name %>">
    <meta name="apple-mobile-web-app-status-bar-style" content="<%= theme_color %>">
    <!--Some decently important security stuff, just matters that it's present,
    so we don't need to bother search engines by putting it at the top-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Vite HMR in development. Does not result in anything in prod-->
    <%= vite_client_tag %>
  </head>
  <body>
    <%= render 'layouts/shortcutswrapper' do %>
      <%= render 'layouts/distractionmodewrapper' do %>
        <%= render 'layouts/locomotivescrollwrapper' do %>
          <%= render "layouts/underconstruction" %>
          <%= render "layouts/noscript" %>
          <div class="layout-main">
            <header class="layout-header">
              <a href="/" class="layout-home-link" rel="noopener">George Baskerville</a>
              <% nav_items = [
                { title: "Posts", path: "/posts" },
                { title: "Images", path: "/images" },
                { title: "TaskStack", path: "/taskstack" },
                { title: "Eclecticon Apps", path: "/eclecticonapps" },
                { title: "Miscellaneous", path: "/miscellaneous" },
                { title: "Legal", path: "/legal" },
              ] %>

              <nav class="layout-nav" data-controller="heading-highlight">
                <ul>
                  <% nav_items.each do |item| %>
                    <li>
                      <a
                        class="<%= 'text-accent' if request.path == item[:path] %>"
                        href="<%= item[:path] %>"
                      >
                        <%= item[:title] %>
                      </a>
                    </li>
                  <% end %>
                  <li>
                    <button
                      class="distraction-button"
                      data-action="
                        click->distractionmode#toggleDistractionMode
                      "
                    >
                      âœ¨Distraction Modeâœ¨
                    </button>
                  </li>
                </ul>
              </nav>
            </header>
            <div class="flex-grow">
              <main>
                <div class="main">
                  <%= yield %>
                  <%= render "layouts/footer" %>
                </div>
              </main>
            </div>
          </div>
        <% end %>
        <%= render "layouts/cursor" %>
        <%= render "layouts/floatingwindows" %>
        <%= render "layouts/oneko" %>
        <%= render "layouts/drawer" %>
      <% end %>
    <% end %>
  </body>
</html>
