<!DOCTYPE html>
<html dir="ltr">
  <head>
    <link rel="dns-prefetch" href="analytics.geor.me">
    <link rel="preconnect" href="analytics.geor.me">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/jpeg" href="<%= asset_url('favicon.jpg') %>" />
    <title>George Baskerville</title>
    <meta name="description" content="George Baskerville's personal website." />
    <meta property="og:title" content="George Baskerville" />
    <meta property="og:description" content="George Baskerville's personal website." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= asset_url('icon.jpg') %>" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script defer src="https://analytics.geor.me/script.js" data-website-id="b3efe222-2a56-4c2d-a2ce-211f7b6966cc"></script>
  </head>

  <body>
    <noscript>
      <div class="noscript">
        <span>
          I believe that JavaScript should be optional on the web, so while this site works best with JavaScript enabled, I've tried to make sure that it works with it disabled too.
        </span>
      </div>
    </noscript>
      <div class="layout-main">
          <header class="layout-header">
            <a href="/" class="layout-home-link">George Baskerville</a>
            <nav class="layout-nav" data-controller="heading-highlight">
            <ul>
                <li><a data-heading-highlight-target="link" class="" href="/">Home</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/contact">Contact</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/data">Data</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/eightyeightbythirtyone">88x31</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/waveform">Waveform Viewer</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/netflixdobetter">Netflix, Do Better (dead meme)</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/licensing">Licensing</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/privacy">Privacy</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/dmca">DMCA</a></li>
                <li><a data-heading-highlight-target="link" class="" href="/credits">Credits</a></li>
            </ul>
            </nav>
          </header>
          <div class="flex-grow">
              <main>
                  <%= yield %>
              </main>
          </div>
      </div>
  </body>
</html>
